*{
	margin: 0;
	padding: 0;
	font-family: "comic sans MS";
	box-sizing: border-box;
}
.container{
	Width: 100%;
	min-height: 100vh;
	background: linear-gradient(180deg, #153577, #4e9676);  
	padding: 10px;
}
.todo-app{
	width:100%;
	max-width:540px;
	background: #fff;
	margin:100px auto 20px;
	padding: 40px 30px 80px;
	border-radius:25px;
	line-height:2.4;
}
.todo-app h2{
	color:black;
}
.todo-app h2 img{
	Width: 20px;
	margin-left: 6px;
}
.row{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background:#edeef0;
	border-radius: 10px;
	padding-left: 20px;
	margin-bottom: 30px;	
}
input{
	flex:1;
	border: none;
	border-color: grey;
	outline: none;
	background: transparent;
	padding:10px;
	font-weight: 14px;
}
Button{
	border:none;
	outline:none;
	padding: 16px 50px;
	background: green;
	color:#fff;
	font-size:16px;
	cursor:pointer;
	border-radius: 10px;
}

ul li{
	list-style: none;
	font-size: 17px;
	padding: 12px 8px 12px 50px;
	user-select: none;
	cursor:pointer;
	position:relative;
}

ul li::before{
	content:'';
	position:absolute;
	height: 28px;
	Width: 28px;
	border-radius: 50%;
	background-image: url(./images/radio-button.png);
	background-size: cover;
	background-position:center;
	top:18px;
	left:8px;
}
ul li.checked{
	color:#555;
	text-decoration: line-through;
}
ul li.checked::before{
	background-image:url(./images/checked.png);
}
ul li span{
	position: absolute;
	right:0;
	top: 5px;
	width: 40px;
	height: 40px;
	font-size:25px;
	color: #303030;
	line-height:40px;
	text-align:center;
	border-radius:50%;
}
ul li span:hover{
	background: #edeef0;
}